<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Essentials</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Escreva uma Mensagem para o Cabecalho da Pagina.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Meu Menu</p>
			
			<div class="devops-path path">
				<h1>Grupo Prever Sul</h1>
				<a href="https://www.office.com/" class="devops-course course">
					<h2>365</h2>
				</a><!--
				--><a href="https://api-developer.prever.cloud/apis" class="devops-course course">
					<h2>Documentação APIs</h2>
				</a><!--
				--><a href="https://preveronline.sharepoint.com/sites/conexaoprever" class="ops-course course">
					<h2>Conexão Prever</h2>
				</a><!--
				--><a href="https://preveronline.sharepoint.com/sites/TI-Sistemas" class="ops-course course">
					<h2>SharePoint - TI Sistemas</h2>
				</a>
                </a><!--
                --><a href="https://preveronline.sharepoint.com/sites/TI-Sistemas" class="ops-course course">
                    <h2>SharePoint - TI Sistemas</h2>
                </a>
			</div>
			
			<div class="ex-path path">
				<h1>Azure</h1>
				<a href="https://dev.azure.com/grupopreversul/" class="ex-course course">
					<h2>Azure - DevOps</h2>
				</a><!--
				--><a href="https://portal.azure.com/#view/HubsExtension/BrowseResource/resourceType/Microsoft.Logic%2Fworkflows" class="ex-course course">
					<h2>LogicApps</h2>
				</a><!--
				-->                
			</div>
			
		</div>
	</div>

</body>

</html>
